<mat-card>

    <mat-card-title style="margin: 10px;">
      Quase lá... 
    </mat-card-title>
    <mat-card-subtitle style="margin-left: 35px;">
      Agora vamos registrar sua Loja
    </mat-card-subtitle>

  <form role="form" [formGroup]="formRegister" (ngSubmit)="onSubmit()">
      <mat-card>
          <mat-form-field  style="width: 100%;">
              <input matInput type="text" formControlName="shop" 
                  placeholder="Nome de sua loja" style="width: 100%;">
            </mat-form-field>
          <mat-form-field  style="width: 100%;">
              <input matInput type="text" formControlName="description" 
                  placeholder="Descrição da sua loja" style="width: 100%;">
            </mat-form-field>
          <mat-form-field  style="width: 100%;">
              <input matInput type="text" formControlName="cpf" 
                    placeholder="CPF/CNPJ" mask="000.000.000-00||00.000.000/0000-00" style="width: 100%;">
            </mat-form-field>
          <mat-form-field  style="width: 100%;">
              <input matInput type="email" formControlName="email" 
                    placeholder="E-mail de contato" style="width: 100%;">
            </mat-form-field>
          <mat-form-field  style="width: 100%;">
              <input matInput type="text" formControlName="phone" 
                    placeholder="Telefone para contato" mask="(00) 0 0000-0000||(00) 0000-0000" style="width: 100%;">
            </mat-form-field>
          <mat-form-field  style="width: 100%;">
              <input matInput type="text" formControlName="mobilephone" 
                    placeholder="Whatsapp" mask="(00) 0 0000-0000||(00) 0000-0000" style="width: 100%;">
            </mat-form-field>



            <mat-form-field style="width: 100%;" class="example-chip-list" appearance="fill">
              <mat-label>Especialidades da loja</mat-label>
              <mat-chip-list #chipList aria-label="Fruit selection">
                <mat-chip
                  *ngFor="let fruit of fruits"
                  (removed)="remove(fruit)">
                  {{fruit}}
                  <button matChipRemove style="border: none;">
                    <mat-icon style="margin-top: -4px; margin-left: -11px;">cancel</mat-icon>
                  </button>
                </mat-chip>
                <input
                  placeholder="Nova Especialidade..."
                  #fruitInput
                  [formControl]="fruitCtrl"
                  [matAutocomplete]="auto"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                  {{fruit}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>




          <mat-form-field  style="width: 100%;">
              <input matInput type="text" formControlName="address" 
                    placeholder="Endereço" style="width: 100%;">
          </mat-form-field>
              
          <div fxLayout="row" fxLayoutAlign="end end" >
                <button mat-button color="primary" type="submit" [disabled]="!formRegister.valid">
                  <mat-icon>done</mat-icon>&nbsp;Register
                </button>
          </div>
          <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    
      </mat-card>
  </form>

</mat-card>