<mat-accordion class="example-headers-align" >


    <mat-expansion-panel *ngFor="let order of orders; let i = index" [expanded]="step === i" (opened)="setStep(i)" hideToggle >
        <mat-expansion-panel-header style="min-height: 70px;">
            <mat-panel-title style="margin-top: 30px;">
                {{order.product}}
            </mat-panel-title>
        <mat-panel-description style="height: 70px;">
            {{order.status}}
            <mat-icon (click)="navegar(order)" #tooltip="matTooltip" matBadge="1" matBadgeColor="warn" [matBadgeHidden]="order.view"
            matTooltip="Ver Detalhes"
            aria-label="Button that displays a tooltip that can be programmatically disabled">more_horiz</mat-icon>
        </mat-panel-description>
        
        
      </mat-expansion-panel-header>
  
      <mat-form-field appearance="fill">
        <mat-label>Endereço</mat-label>
        <input matInput value="{{order.address}}">
      </mat-form-field>
  
        <mat-form-field appearance="fill">
            <mat-label>Destinatario</mat-label>
            <input matInput value="{{order.receiver}}">
        </mat-form-field>
        <mat-action-row>
            <button mat-button color="warn" *ngIf="i > 0" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" *ngIf="i < (orders.length -1)" (click)="nextStep()">Next</button>
            <button mat-button color="primary" *ngIf="i == (orders.length-1)" (click)="nextStep()">End</button>
        </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>

<mat-accordion class="example-headers-align" >

