.cont {
    max-width: 400px;
    margin-top: 40px;
}
.form { 
    display: flex;
    flex-direction: column;
}

.cont {
    display: block;
    margin: 80px auto 400px;
  }
  
  .example-container {
    height: 200px;
    overflow: auto;
    border: 1px solid #ccc;
  }