
<mat-card>
    <mat-form-field  style="width: 100%;">
        <input matInput type="text" 
            placeholder="Produto" style="width: 100%;" value="{{order.product}}">
      </mat-form-field>
    <mat-form-field  style="width: 100%;">
        <input matInput type="text" 
            placeholder="Endereço de entrega" style="width: 100%;" value="{{order.address}}">
      </mat-form-field>
    <mat-form-field  style="width: 100%;">
        <input matInput type="text" 
            placeholder="Destinatario" style="width: 100%;" value="{{order.receiver}}">
      </mat-form-field>
    <mat-form-field  style="width: 100%;">
        <input matInput type="text" 
            placeholder="Forma de pagamento" style="width: 100%;" value="{{order.payment}}">
      </mat-form-field>
    <mat-form-field  style="width: 100%;">
        <input matInput type="text" 
            placeholder="Status" style="width: 100%;" value="{{order.status}}">
      </mat-form-field>
</mat-card>


       
