
<div class="mat-elevation-z8">
  
    <table mat-table [dataSource]="categoria$" matSort>
  

        <ng-container matColumnDef="_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> _ID </th>
          <td mat-cell *matCellDef="let element"> {{element._id}} </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      

        <ng-container matColumnDef="titulo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </th>
          <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
        </ng-container>


        <ng-container matColumnDef="ano">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ano </th>
          <td mat-cell *matCellDef="let element"> {{element.ano}} </td>
        </ng-container>


        <ng-container matColumnDef="valor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
          <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
        </ng-container>


        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ações </th>
          <td mat-cell *matCellDef="let element"> <button mat-button (click)="edit(element)" class="teste edit"> <mat-icon>edit</mat-icon> </button> <button (click)="delete(element)" mat-button  class="teste delete"> <mat-icon>delete</mat-icon> </button> </td>
        </ng-container>
      
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="navegar(row)"></tr>
      </table>
      <mat-progress-bar mode="indeterminate" *ngIf="gerando"></mat-progress-bar>
      <mat-paginator [pageSizeOptions]="[20, 10, 50, 100]" aria-label="Select page of users"></mat-paginator>
</div>
