
<mat-card>
    <form [formGroup]="ProductForm"(ngSubmit)="onSubmit()" #f>
        <mat-form-field>
            <input matInput placeholder="Produto" formControlName="name" #name >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Tipo do Produto" formControlName="type">
        </mat-form-field>
        <mat-form-field>
            <input matInput currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align : 'left' }"  placeholder="Valor" formControlName="value">
        </mat-form-field>
        <!-- Select File -->
        <label>Imagem do Produto</label>
        <input mat-raised-button type="file" accept="image/*" (change)="showPreview($event)" />
    
        <!-- Image Preview -->
        <div class="imagePreview" *ngIf="imageURL && imageURL !== ''" >
        <img [src]="imageURL" alt="img" style="max-height: 200px;">
        </div>
    
        <!-- Assign Image Alt -->
        <div>
            <button  mat-button color="primary"  type="submit" [disabled]="!ProductForm.valid">Submit</button>          
            <button mat-button color="warn"  type="reset">Cancel</button>
        </div>

    </form>
</mat-card>