.docs-guide-list{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding-top: 15px;
}

.docs-guide-item {
    text-decoration: none;
    display: flex;
    margin: 15px;
}

.docs-guide-card{

    height: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.docs-guide-card-divider{
    width: 40%;
    height: 7px;
    margin-top: 25px;
    margin: 15px auto;
    background: #ff4081;
    margin-bottom: 15px;
}

.mat-card{
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
}

.docs-guide-card.mat-card{
    text-align: center;
    width: 210px;
    height: 210px;
}