<div class="docs-guide-list">
    <a *ngFor="let element of cards" class="docs-guide-item ng-star-inserted" href="{{element.link}}">
        <mat-card class="mat-card mat-focus-indicator docs-guide-card">
            <mat-card-title class="mat-card-title" *ngIf="num > 0 && element.title == 'Pedidos'" matBadge="{{num}}" matBadgeColor="warn">{{element.title}}</mat-card-title>
            <mat-card-title class="mat-card-title" *ngIf="element.title != 'Pedidos'">{{element.title}}</mat-card-title>
            <mat-card-title class="mat-card-title" *ngIf="element.title == 'Pedidos' && num < 1">{{element.title}}</mat-card-title>
            <div class="docs-guide-card-divider"></div>
            <mat-card-content class=" mat-card-content docs-guide-card-summary">{{element.subtitle}}</mat-card-content>
        </mat-card>
    </a>
</div>