
<mat-card>
    <button mat-raised-button (click)="addProduct()" style="margin: 10px;"><mat-icon>add</mat-icon>Adicionar Produto</button>

    <div class="mat-elevation-z8">
        
        <table mat-table [dataSource]="dataSource" matSort style="width: 100%;">

            <ng-container matColumnDef="imgUrl">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Imagem </th>
            <td mat-cell *matCellDef="let element"> <img *ngIf="element.imgUrl && element.imgUrl != ''" src="{{element.imgUrl}}" alt=""style="max-height: 64px; max-width: 64px;"> <mat-icon *ngIf="!element.imgUrl || element.imgUrl == ''">dashboard</mat-icon> </td>
            </ng-container>

            <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Produto </th>
            <td mat-cell *matCellDef="let element"> {{element.name | slice:0:20}} </td>
            </ng-container>
        

            <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
            <td mat-cell *matCellDef="let element"> {{element.value | currency: 'BRL'}} </td>
            </ng-container>


            <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.type | slice:0:15}} </td>
            </ng-container>


        
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="navegar(row)"></tr>
        </table>
        <mat-progress-bar mode="indeterminate" *ngIf="gerando"></mat-progress-bar>
        <mat-paginator [pageSizeOptions]="[20, 10, 50, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
</mat-card>